.fon{
    font-family: 'rr';
    font-size: 30px;
    color: #ffffff;
  }
  .cent{
    width: 90%;
    background-color: #1e1e1e;
  }
  .in{
 
    background-color: #1e1e1e;
  }
  ion-button{
  
    color:black;
}
ion-label{
  color: #C7E596;
  font-family: 'nb';
}
ion-input{
  font-family: 'nb';
}
.color{
  --ion-background-color:       #111111;
}
